/* pc >=1024px = 64em nên để đơn vị là em*/
@media (min-width: 64em){

}

/* table & mobile */
@media (max-width: 63.9375em){
    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    #footer .socials-list{
        font-size: 28px;
    }

    #footer .socials-list a{
        margin: 0 8px;
    }

    #footer .coppyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

/* Table >=740px & < 1024px*/
@media (min-width: 46.25em) and (max-width: 63.9375em){

}

/* Mobile < 739px = 46.1875em  */ 
@media (max-width: 46.1875em){ 
    .s-col-full,
    .s-full-width{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px;
    }

    #header{
        overflow: hidden;
        
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .ti-search{
        display: none;  
    }

    #nav{
        display: block;
    }

    #nav .subnav{
        position: initial; /*Về giá trị mặc định     */
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    .contact-form{
        margin-top: 16px;
    }

    .mobile-menu-btn{
        
    }



}